# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries

imgui.ini

*.log

MapleLibrary.dll
MapleEngine.dll
MapleAssembly.dll

*.pdb

build/

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la


# Executables

*.app

Assets/Debug/
